body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',  sans-serif;
  font-weight: 400;
}

h1, h3, h4, h5, h6 {
	font-family: 'Open Sans',  sans-serif;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 24px;
	font-weight: 400;
}

h3 {
	margin: 0; 
	font-size: 28px;
}

.nav {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.nav a{
	margin-left: 20px;
	margin-right: 20px;
}

.header-container {
	height: 500px;
	background-image: url('images/face_pic.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: 20% 43%;
}
.header-color {
	background: rgba(150, 15, 15, 0.2);
	height: 100%;
}

.header-text-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-left: 100px;
	margin-right: 100px;
}

.header-title {
	color: white;
}

.section-container {
	min-height: 500px;
	padding: 16px;
}

.section-title {
	padding-top: 40px;
}

.section-content {
	margin-left: 200px;
	margin-right: 200px;
}

.about-subsection {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.about-image {
	max-height: 150px;
	max-width: 200px;
	float: left;
}

.text-right {
}

.about-text {
	padding-left: 50px;
	padding-right: 50px;
	width: 40%;
}


/* Colors */
.teal {
	background-color: rgb(85, 180, 198);
}

.deepblue {
	background-color: rgb(1, 48, 89);
}

.orange {
	background-color: rgb(255, 176, 58);
}